// :root {
//     --primary-light: #8abdff;
//     --primary: #6d5dfc;
//     --primary-dark: #5b0eeb;

//     --white: #FFFFFF;
//     --greyLight-1: #E4EBF5;
//     --greyLight-2: #c8d0e7;
//     --greyLight-3: #bec8e4;
//     --greyDark: #9baacf;
//     --greyDark-2: #737d97;
// }

$shadow: .3rem .3rem .6rem var(--greyLight-2),
    -.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
    inset -.2rem -.2rem .5rem var(--white);
$ultimate-shadow: .8rem .8rem 1.4rem var(--greyLight-2),
    -.2rem -.2rem 1.8rem var(--white);


.task_components {
    width: 75rem;
    height: fit-content;
    min-height: 40rem;
    // margin-bottom: 2rem;
    border-radius: 3rem;
    box-shadow: $ultimate-shadow;
    border: solid 2px white;
    padding: 4rem;
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(autofit, min-content);
    grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;

    & .taskCard {
        justify-self: center;
        width: 20rem;
        height: fit-content;
        padding: 1rem;
        border-radius: 1rem;

        padding-bottom: 4rem;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        user-select: none;
        cursor: pointer;
        transition: .3s ease;

        &__secondary {
            color: var(--greyDark);

            & h1 {
                width: 100%;
                font-size: 1.8rem;
                margin-bottom: 2rem;
                margin-top: 1rem;
                text-align: center;
                color: var(--primary);
            }

            & .addTask {
                justify-self: center;
                width: 18rem;
                height: 100%;
                min-height: 3.5rem;
                border: solid;
                // padding: 1rem;
                margin-bottom: 2.5rem;
                border-radius: 12px;
                box-shadow: $shadow;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
                transition: .3s ease;

                &__secondary {
                    color: var(--greyDark);

                    & form {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;

                        & div {
                            width: 80%;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            align-content: normal;
                            justify-content: center;
                            align-items: flex-end;
                            border-bottom-left-radius: 10px;
                            border-top-left-radius: 10px;

                            & .inputs1 {
                                width: 100%;
                                height: auto;
                                resize: none;
                                border-top-left-radius: 10px;
                                padding: 5px;
                                background: var(--greyLight-1);
                                border: none;
                                border-bottom: var(--greyLight-2) 1px solid;

                                /* width */
                                &::-webkit-scrollbar {
                                    width: 5px;
                                }

                                /* Handle */
                                &::-webkit-scrollbar-thumb {
                                    background: var(--primary-light);
                                }

                                &:focus {
                                    outline: none;
                                    // background: #ffffff;
                                }
                            }

                            & .inputs2 {
                                width: 100%;
                                height: auto;
                                resize: none;
                                border-bottom-left-radius: 10px;
                                padding: 5px;
                                background: var(--greyLight-1);
                                border: none;

                                /* width */
                                &::-webkit-scrollbar {
                                    width: 5px;
                                }

                                /* Handle */
                                &::-webkit-scrollbar-thumb {
                                    background: var(--primary-light);
                                }

                                &:focus {
                                    outline: none;
                                    // background: #ffffff;
                                }
                            }
                        }

                        & button {
                            padding: 1px;
                            width: 21%;
                            // height: 9.7rem;
                            min-height: 100px;
                            border: none;
                            font-size: 2rem;
                            font-weight: bold;
                            border-bottom-right-radius: 10px;
                            border-top-right-radius: 10px;
                            background: #c8d0e7;
                            box-shadow: -5px 0 5px rgba(255, 255, 255, 0.443);
                            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

                            &:hover {
                                // box-shadow: $shadow;
                                background: #dfdbff;
                                transform: translateY(-.5px);
                            }

                            &:active {
                                color: var(--primary);
                                transform: translateY(.5px);
                                // box-shadow: $inner-shadow;
                            }
                        }

                        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

                    }


                    &:hover {
                        box-shadow: $shadow;
                        transform: translateY(-3px);
                    }

                    &:active {
                        transform: translateY(.5px);
                        box-shadow: $inner-shadow;
                    }
                }

                transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            }

            & .taskItem {
                width: 18rem;
                height: fit-content;
                min-height: 3.5rem;
                border-radius: 1rem;
                // padding-bottom: 1rem;
                // padding-left: 1rem;
                // padding-right: 1rem;
                margin-bottom: 2rem;

                justify-self: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                box-shadow: $shadow;
                user-select: none;
                cursor: pointer;
                transition: .3s ease;

                &__secondary {
                    color: var(--greyDark);

                    /*  ICONS  */
                    & .cross {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        // position: absolute;
                        width: 100%;
                        height: .5rem;
                        // border: solid 1px;

                        & .crossButton {
                            width: 2.1rem;
                            height: 2.1rem;
                            background: #E4EBF5;
                            border-radius: 50%;
                            box-shadow: $shadow;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2rem;
                            cursor: pointer;
                            color: rgb(236, 187, 187);
                            transition: all .5s ease;

                            &:hover {
                                color: red;
                            }

                            &:active {
                                box-shadow: $inner-shadow;
                                color: rgb(176, 0, 0);
                            }
                        }


                        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

                    }

                    & .text {
                        padding: 1rem;
                        // border: solid;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        & h2 {
                            // margin-top: 5px;
                            width: 100%;
                            font-size: 1.2rem;
                            margin-bottom: 1rem;
                            color: var(--primary);
                        }

                        & p {
                            font-size: 1.3rem;
                            // text-align: justify;
                            font-size: 1rem;
                            color: var(--greyDark-2);
                        }
                    }

                    &:hover {
                        & h2 {
                            color: #9286fd;
                        }

                        & p {
                            color: #9baacf;
                        }

                        transform: translateY(-3px);
                    }

                }


                transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            }

            &:hover {
                & h1 {
                    color: #9286fd;
                }

                & p {
                    color: #9baacf;
                }

                transform: translateY(-10px);
            }
        }

        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }
}
